<template name="tasksItem">
  <div class="taskItem {{checkedClass}} {{editingClass}}">
    <label class="checkbox">
      <i class="fa fa-square-o"></i>
      <!-- <input type="checkbox" checked="{{checked}}" name="checked" />
      <span class="checkbox-custom"></span> -->
    </label>

    <input class="taskInput" type="text" placeholder="{{ getEventDescription }}" value="{{ getEventDescription }}" />
    <a class="js-delete-item delete-item" href="#">
      <i class="fa fa-trash"></i>
    </a>
  </div>
</template>
