<template name="headerNavbar">
  <nav id="listPanelHeader" class="unselectable navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <a id="sendMessageButton" class="float-right navbar-brand">Message</a>

      <a id="navbarBrandLink" class="unselectable navbar-brand">
        {{#if isLoggedIn }}
        <i id="navbarMenu" class="fa fa-bars"></i>
        {{/if}}
       <span>{{getPageTitle}}</span>
      </a>
    </div>

    <!-- {{#if isOnRoute "contacts"}}
      <nav class="searchbar">
        <input id="contactSearchInput" class="search-text" type="text" placeholder="Search contacts..." autocomplete="off">
      </nav>
    {{/if}}

    {{#if isOnRoute "groups"}}
      <nav class="searchbar">
        <input id="groupSearchInput" class="search-text" type="text" placeholder="Search groups..." autocomplete="off">
      </nav>
    {{/if}}

    {{#if isOnRoute "group/members"}}
      <nav class="searchbar">
        <input id="groupMemberSearchInput" class="search-text" type="text" placeholder="Search members of group..." autocomplete="off">
      </nav>
    {{/if}} -->

  </nav>


</template>
