<template name="checklistPage">
  <div id="checklistPage" class="checklist " style={{getOpacity}}>
    {{#with list}}

      <!-- {{> checklistHeader }} -->

      {{#if isNewTaskRibbonVisible}}
      <nav id="newTaskRibbon" class="navbar navbar-default noRoundedCorners">
        <!-- <form id="newTaskForm" class="js-task-new task-new input-symbol"> -->
          <span class="checkbox-placeholder"></span>
          <input id="newTaskInput" type="text" placeholder="Type to add new tasks" autocomplete="off">
          <!-- <i id="listPanelNewItemIcon" class="fa fa-pencil js-task-add"></i> -->
          <i id="newItemAddIcon" class="headerIcon fa fa-plus float-right"></i>
        <!-- </form> -->
      </nav>
      {{/if}}


      <div id="protocolLibraryItems" class="content-scrollable list-items">
        {{#each tasks}}
          {{> tasksItem}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No tasks here</div>
            <div class="subtitle-message">Add new tasks using the field above</div>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </div>
</template>
