@import 'client/app/stylesheets/util/typography.lessimport';

#todosListPage {
  .content-scrollable {
    background: @color-empty;
    top: 5em !important;
  }
  #listPanelItems{
    top: 100px !important;
    position: absolute;
  }
  #listPanelNewItemInput{
    background-color: inherit;
  }
}
#listPanelNewItemIcon{
  top: 15px;
  left: 15px !important;
  position: absolute;
  color: gray;
  z-index: 10000;
}
