<template name="sidebarMenu">
  <section id="sidebarMenu" class="sidebarMenu">

    <div id="sidebarMenuContents" class="sidebarMenuContents">

        {{#if currentUser}}
          <a id="usernameLink" href="#" class="js-user-menu">
            {{email}}
          </a>
          <a id="protocolLibraryLink" href="{{pathFor 'protocolLibrary'}}" class="withLowerBorder">Protocols</a>
          <div class="withLowerBorder">

            <a id="newListButton" class="js-new-list link-list-new">New List<i class="fa fa-plus"></i></a>

            <div id="lists">
              {{#each lists}}
                <a href="{{pathFor 'checklistPage'}}" class="listItem {{activeListClass}}" title="{{name}}">
                  {{#if userId}}
                    <i class="fa fa-lock"></i>
                  {{/if}}
                  {{name}}
                  {{#if incompleteCount}}
                    <span class="count-list">{{incompleteCount}}</span>
                  {{/if}}
                </a>
              {{/each}}
            </div>
          </div>
        {{else}}
          <a id="usernameLink" href="{{pathFor 'entrySignIn'}}" class="withLowerBorder">{{getUsername}}</a>
          <a id="protocolLibraryLink" href="{{pathFor 'protocolLibrary'}}" class="withLowerBorder">Protocols</a>
        {{/if}}

        <a id="aboutButton" href="{{pathFor 'aboutPage'}}">About</a>
        <a id="featuresButton" href="{{pathFor 'marketingPage'}}">Features</a>
        <a id="eulaButton" href="{{pathFor 'eulaPage'}}">End User Agreement</a>
        <a id="privacyButton" href="{{pathFor 'privacyPage'}}" class="withLowerBorder">Privacy Policy</a>
        {{#if currentUser}}
          <a id="logoutButton" class="js-logout withLowerBorder">Logout</a>
        {{/if}}

        <div id="connectionStatusPanel" class="centered">
          {{getConnectionStatus}}
        </div>


    </div>
  </section>
</template>
